@import 'variables';

.action-button {
  color: $light-color;
  background-color: $action-color;
  border: none;
  box-shadow: 3px 3px 2px 2px $shade-color;
  font-weight: bold;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: auto;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  width: 100%;
  &:disabled {
    background-color: $shade-color;
    cursor: unset;
  }
}
