@import 'variables';
@import 'classes';

:host {
  @extend %centered-flex-container;

  .amount-controls {
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 3px 3px 2px 2px $shade-color;
    display: inline-block;
    .amount {
      display: inline-block;
      width: 3rem;
      text-align: center;
    }
    .qty-modifier {
      color: $action-color;
      font-weight: bold;
      border: none;
      font-size: 1.2rem;
      background-color: none;
      cursor: pointer;
    }
  }
}
