<nav>
  <a [routerLink]="['/', routes.Catalogue]" routerLinkActive="active-link" class="nav-link">
    🍕 pizza
  </a>
  <ng-container *ngIf="currencies$ | async as currencies">
    <div class="currency-picker">
      <ng-container *ngFor="let currency of currencies">
        <a (click)="selectCurrency(currency)" class="currency" [class.is-active]="currency.isActive">{{ currency.symbol }}</a>
      </ng-container>
    </div>
  </ng-container>
  <a [routerLink]="['/', routes.ShoppingCart]" routerLinkActive="active-link" class="nav-link">
    🛒 cart
  </a>
  <a [routerLink]="['/', routes.PlaceOrder]" routerLinkActive="active-link" class="nav-link">
    💳 checkout
  </a>

  <ng-container *ngIf="isLoggedIn$ | async; then history; else login"></ng-container>
</nav>

<ng-template #login>
  <a [routerLink]="['/', routes.Login]" routerLinkActive="active-link" class="nav-link">
    👤 login
  </a>
</ng-template>

<ng-template #history>
  <a [routerLink]="['/', routes.OrdersHistory]" routerLinkActive="active-link" class="nav-link">
    📃 history
  </a>
</ng-template>
