<app-card-section heading="Your Order">
  <app-items-list></app-items-list>
</app-card-section>

<app-card-section *ngIf="deliveryCost" heading="Delivery Costs">
  <app-item-price [price]="deliveryCost"></app-item-price>
</app-card-section>

<app-card-section *ngIf="total$ | async as total" heading="Total">
  <app-item-price [price]="total"></app-item-price>
</app-card-section>

<app-card-section heading="Fill in the form to complete your order">
  <app-place-order-form></app-place-order-form>
</app-card-section>
