<header>
  <button (click)="closePreview.emit()" class="close-button">click to close</button>
</header>

<div class="item-image-container">
  <img [src]="pizza.imageUrl" [alt]="pizza.name" class="item-image" />
</div>

<div class="description">
  <h2 class="item-name">{{ pizza.name }}</h2>
  <p class="item-description">{{ pizza.description }}</p>
</div>

<ng-container *ngIf="price$ | async as price">
  <app-item-price [price]="price"></app-item-price>
</ng-container>


<app-item-amount
(increase)="increaseAmount()"
(decrease)="decreaseAmount()"
[amount]="quantity"></app-item-amount>

<app-call-to-action-button buttonLabel="Add To Cart" (action)="addItemToCart()"></app-call-to-action-button>

