@import 'variables';
@import 'classes';

:host {
  background-color: $light-color;
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-areas:
    'header header      header'
    'image  description description'
    'image  price       counter'
    'add    add         add';
  box-sizing: border-box;
  padding: 10px 20px;
}

@media screen and (max-width: 580px) {
  :host {
    grid-template-columns: 1fr;
    grid-template-areas:
      'image'
      'description'
      'price'
      'counter'
      'add'
      'header';
  }
}

header {
  grid-area: header;
}

.close-button {
  width: 25%;
  margin: 20px auto;
  display: block;
  background-color: $shade-color;
  border: none;
  height: 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.item-image-container {
  grid-area: image;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .item-image {
    @extend %responsive-image;
    border: 2px solid $shade-color;
    border-radius: 10px;
    align-self: flex-start;
    max-width: 180px;
  }
}

.description {
  grid-area: description;
  .item-name {
    @extend %level-2-heading;
  }
  .item-description {
    @extend %regular-text;
  }
}

.price {
  grid-area: price;
  @extend %price-text;
  @extend %centered-flex-container;
}

.counter {
  grid-area: counter;
  @extend %centered-flex-container;

  .amount-controls {
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 3px 3px 2px 2px $shade-color;
    display: inline-block;
    .amount {
      display: inline-block;
      width: 3rem;
      text-align: center;
    }
    .qty-modifier {
      color: $action-color;
      font-weight: bold;
      border: none;
      font-size: 1.2rem;
      background-color: none;
      cursor: pointer;
    }
  }
}

footer {
  grid-area: add;
  .add-to-cart-button {
    width: 95%;
    color: $light-color;
    background-color: $action-color;
    border: none;
    box-shadow: 3px 3px 2px 2px $shade-color;
    font-weight: bold;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: auto;
    border-radius: 20px;
    display: block;
    cursor: pointer;
  }
}
